<%- include('../partials/head') %>
<div class="container">

    <h1>All Fruits</h1>
    <ul>
      <% for (let i = 0; i < fruits.length; i++) { %>
        <li><a href="/fruits/<%= fruits[i]._id %>"><%= fruits[i].name %></a></li>
      <% } %>
    </ul>

</div>

<%- include('../partials/footer') %>
